<center>
<p>Here are the instruments we're keeping track of:</p>

<% @owner.instruments.each do |inst| %>
    
    <a href="/instruments/<%=inst.id%>"><%=inst.description%></a>
<%end%>
</center>

<a href="/logout">Log Out</a>
