<center>
<h2>Keep Track of Your Instruments!</h2>
<h3>(Psst... sign up below!)</h3>

  <form action="/owners" method="POST" >
    <p>Username: <input type="text" name="username" placeholder="Username"></p>
    <p>Password: <input type="password" name="password" placeholder="Password"></p>
    <input type="submit" value="Sign Up">
  </form>
  </center>