<!doctype html>
<html>
<center>
  <head>
    <title>Log Your Instruments</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Ax Keeper!</h1>
      <%= yield %>
      <a href='/logout'>Logout</a>
    </div>
  </body>
  </center>
</html>