<center>
<h2>Keep Track of Your Instruments!</h2>
<h3>(Psst... sign up below!)</h3>

  <form method="post" action="/signup">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit">
  </form>
  </center>