<center>
<h1>Welcome, <%=current_owner.username.capitalize%></h1>

<%@instrument.each do |instrument|%>
  <% if !instrument.description.empty? %>
    <%=instrument.description%>
  <% else %> Nothing to see here!
  <% end %>
<%end%> <br>

<br>
<br>
<a href="/instruments/new">List Instrument</a><br>
<br>
</center>