  <center>
  <form action='/instruments' method="post">
    Description:
    <input type="text" name="description">
    <br>
    Log Your Instrument:
    <input type="submit" name="submit" id="submit">
  </form>
</center>