  <center>
  <form action="/instruments" method="post">
    <p>Description:<input type="text" name="Description"></p>
    <p>Manufacturer:<input type="text" name="Manufacturer"></p>
    <p>Model Year:<input type="text" name="Model Year"></p>
    <input type="submit">
  </form>
    
</center>